{% extends 'practice/main.html' %}
{% load static %}
{% block content %}
{% load custom_tags %}
<h1 class="mt-5">Products</h1>
<hr>
<div class="row">
    <div class="col">
        <form method="GET">
            {% if s %}
            <input type="text" class="form-control" name="search" placeholder="search"  value="{{s}}" >
            {% else %}
            <input type="text" class="form-control" name="search" placeholder="search" >
            {% endif %}
            {{product_Filter.form}}
            <button type="search"  value="search" class="btn btn-primary">search</button>
        </form> 
    </div>
</div>

{% if page_obj %}
<table class="table mt-5">
    <thead>
    <tr>
        <th scope="col" class="table-primary">Product</th>
        <th scope="col" class="table-primary">Company</th>
        <th scope="col" class="table-primary">Category</th>
        <th scope="col" class="table-primary">Price</th>
        <th scope="col" class="table-primary">update</th>
        <th scope="col" class="table-primary">delete</th>
    </tr>
    </thead>
    <tbody>
    {% comment %} {{products}} {% endcomment %}
    
    {% for p in page_obj %}
    <tr>
        <td>{{p.name}}</td>
        <td>{{p.company}}</td>
        <td>{{p.category}}</td>
        <td>{{p.price}}</td>
        <td><a href="{% url 'updateProduct' p.id %}" class="btn btn-primary">Update</a></td>
        <td><a href="{% url 'deleteProduct' p.id %}"  class="btn btn-danger">Remove</a></td>
    </tr>
    {% endfor %}
    
    </tbody>
</table>
{% else %}
    <h3> There is no such Items</h3>
    
{% endif %}
 <div>
    <span>
        {% if page_obj.has_previous %}
        <a href="{% my_url page_obj.previous_page_number 'page' request.GET.urlencode %}">Previous</a>
         
         {% comment %} <li class="page-item"><a class="page-link" href="?{% query_transform page=products.previous_page_number %}">Previous</a></li> {% endcomment %}
        {% endif %}
        <span>{{page_obj.number}}</span>
        {% if page_obj.has_next %}
         <a href="{% my_url page_obj.next_page_number 'page' request.GET.urlencode %}">Next</a> 
        {% comment %} <li class="page-item"><a class="page-link" href="?{% query_transform page=products.next_page_number %}">Previous</a></li> {% endcomment %}
        {% endif %}
    </span>
</div>


{% endblock %}